# App Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-for-access-tokens-make-it-long-and-random-123456789
JWT_REFRESH_SECRET=your-super-secret-jwt-refresh-key-different-from-access-token-987654321

# Email Configuration (Gmail SMTP)
EMAIL_SERVER_HOST=smtp.gmail.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=your-email@gmail.com
EMAIL_SERVER_PASSWORD=your-app-password

# OAuth Configuration
NEXT_PUBLIC_GITHUB_CLIENT_ID=your_github_oauth_client_id
NEXT_PUBLIC_GITHUB_CLIENT_SECRET=your_github_oauth_client_secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_oauth_client_id
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret


#UploadThing Configuration
UPLOADTHING_TOKEN=your_uploadthing_token